{
   "env": {
      "browser": true,
      "node": true,
      "jest": true,
      "es6": true
   },
   "plugins": ["import"],
   "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:prettier/recommended"],
   "parserOptions": {
      "ecmaVersion": "latest",
      "ecmaFeatures": {
         "jsx": true
      },
      "sourceType": "module"
   },
   "settings": {
      "react": {
         "version": "detect"
      }
   },
   "rules": {
      "import/first": "error",
      "no-console": "warn",
      "no-eval": "error",
      "no-empty": "warn",
      "react/prop-types": "off"
   }
}
