#result {
   padding-bottom: 20px;
   width: 100%;

   @include ss.tablet {
      padding-right: 10px;
      padding-left: 10px;
   }

   b {
      color: $theme-color;
   }

   h2 {
      margin: 8px 0;
   }
}

#bar {
   @include ss.flex($justify-content: space-between, $align-items: center);
   @include ss.position(sticky, $top: 0);

   background-color: ss.$white;

   > :first-child {
      @include ss.flex($flex-wrap: wrap, $align-items: baseline);

      h2 {
         margin: 0;
      }
   }

   > :last-child {
      @include ss.flex($align-items: center);

      button {
         height: 37.5px;

         img {
            height: inherit;
            width: inherit;
         }
      }
   }
}

#checkbox {
   accent-color: $accent-color;
   height: 29.5px;
   width: 29.5px;
}

#report .trigger button {
   @include ss.reset('border');
}

#sources {
   margin: 8px 0;

   b {
      color: $theme-color;
   }
}
