#box {
   @include ss.model(fit-content, clamp(500px, 80vw, 1000px));

   background-color: ss.$white;
   border-radius: 15px;
   min-height: 200px;
   margin-top: 25px;
   padding: 0.1px 0 0.5rem 0.7rem;
   overflow-wrap: break-word;

   @include ss.mobile {
      @include ss.reset;

      width: 100%;
   }
}

@import './header';
@import './main';