nav {
   @include ss.border('inline');
   @include ss.flex($justify-content: space-between, $align-items: center);

   margin-right: 15px;
   width: fit-content;

   @include ss.mobile {
      margin-left: 0;
      width: 100%;
   }

   div {
      @include ss.flex;
   }

   img {
      @include ss.imgbutton(35px, 0);
   }

   input {
      @include ss.reset('border');

      color: $accent-color;
      outline: none;
   }
}
