#nav {
   @include ss.reset;
   @include ss.border('inline');
   @include ss.flex($justify-content: space-between, $align-items: center);

   margin: 0 0 10px 15px;
   width: fit-content;

   @include ss.mobile {
      margin: 0;
      width: 100%;
   }

   div {
      @include ss.flex;

      .imgbutton {
         height: 35px;

         button {
            height: inherit;
            width: inherit;
         }
      }
   }

   input {
      @include ss.reset('border');

      color: $accent-color;
      outline: none;
   }
}
