@use '../../../../Sasscript/Sass/index.scss';

* {
   color: index.$black;
}

:root {
   color-scheme: light;
}

dialog>header {
   margin-top: 0;
}

h1 {
   font-size: 2.3rem;
}

header {
   align-items: center;
   justify-content: space-between;
}

#app>header {
   @media (max-width: 426px) {
      flex-direction: column;
   }
}

.button {
   aspect-ratio: 1 / 1;
   display: flex;
   border: 0;
   box-shadow: none;
   height: 50px;
   padding: 0;

   img {
      height: inherit;
      width: inherit;
   }
}

.word {
   cursor: pointer;

   &:hover {
      text-decoration: underline;
   }
}

@import '../words/index.scss';