#signature {
   @include ss.position(fixed, $bottom: 0, $left: 0);

   padding: 10px;
   width: 100%;

   @include ss.mobile {
      background-color: ss.$white;
   }
}

.dialog dialog {
   @include ss.fullscreen;

   h1,
   h2 {
      margin: 5px 0;
   }

   > :first-child {
      @include ss.flex($justify-content: space-between, $align-items: center);

      img {
         @include ss.imgbutton(40px);
      }
   }

   > :nth-child(2) {
      @include ss.grid;

      grid-template-columns: 1fr;
   }
}

.divimg,
.trigger {
   &:has(img) {
      height: 50px;
   }
}

.snackbar {
   @include ss.block;
   @include ss.reset('border');
   @include ss.position(fixed, $bottom: 0, $left: 0);

   animation: in 500ms ease, out 500ms 7s;
   background-color: ss.$black;
   color: ss.$white;
   padding: 12.5px 15px;
   width: 350px;
   z-index: 1;

   @include ss.mobile {
      width: calc(100vw - 15px);
   }

   @keyframes in {
      from {
         transform: translateY(150px);
      }
   }

   @keyframes out {
      to {
         transform: translateY(150px);
      }
   }
}
