:root {
     --border: 2.5px solid;
     --border-radius_block: 10px; 
     --border-radius_inline: 6px;
     --box-shadow: 6px 6px 0px var(--black);
     --margin: .4rem;
     --padding_block: .4rem .8rem 1rem;
     --padding_inline: 0 .4rem;

     --black: #000000;
     --capri: #00bbff;
     --gray: #9eabae;
     --mikado-yellow: #ffc300;
     --prussian-blue: #003566;
     --red: #ff0000;
     --white: #ffffff;
}

* {
     color: var(--prussian-blue);
}

body {
     background-color: var(--capri);
}

button,
nav,
input {
     border: var(--border) var(--prussian-blue);
     border-radius: var(--border-radius_inline);
}

body {
     padding: var(--padding_block);
     padding-top: 1rem;
}

nav {
     align-items: center;
     display: flex;
     margin: var(--margin);
     padding: var(--padding_inline);
     padding-right: .15rem;
     width: fit-content;
}

nav>* {
     border: 0;
     border-radius: 0;
     padding: 0;
}

nav>img {
     cursor: pointer;
}

input,
input:hover {
     outline: 0;
}

small {
     color: var(--gray);
     font-size: 1rem;
}

#box {
     padding: var(--padding_block);
     width: 38rem;
}

#error,
#error * {
     color: var(--red);
}

#github {
     cursor: pointer;
     padding: 5px;
}

#root {
     align-items: center;
     display: flex;
     flex-direction: column;
}

#root>* {
     margin: var(--margin);
}

#type {
     padding: var(--padding_block);
}

#type h3 {
     color: var(--mikado-yellow);
}

.card {
     background-color: var(--white);
     border-radius: var(--border-radius_block);
     box-shadow: var(--box-shadow);
}

@media (max-width: 426px) {
     #box {
          width: fit-content;
     }
}