@use '../../Sasscript/scss/SS.scss';

:root {
   color: SS.$black;
   color-scheme: light;
   overflow-x: hidden
}

dialog {
   @include SS.fullscreen;

   border: 0;
   margin: 0;

   >header {
      @include SS.flex;

      align-items: center;
      margin-top: 0;
      justify-content: space-between;

      >.button {
         @include SS.buttonimg(40px, 0);
      }
   }
}

#app {
   >header {
      @include SS.flex;

      align-items: center;
      justify-content: space-between;
      margin-top: 0;

      @media (max-width: 426px) {
         flex-direction: column;
      }

      >div {
         @include SS.flex;

         >*>.button {
            @include SS.buttonimg(50px, 0);
         }
      }

      >h1 {
         font-size: 2.5rem;
      }
   }

   >nav {
      @include SS.border;
      @include SS.flex;

      align-items: center;
      justify-content: space-between;
      width: fit-content;

      @media (max-width: 426px) {
         margin: 0;
         width: 100%;
      }

      >div {
         @include SS.flex;

         >.button {
            @include SS.buttonimg(35px, 0);
         }
      }

      >input {
         border: 0;
         box-shadow: none;
         width: 75%;
      }
   }

   #results {
      
   }
}

#words,
#archieve {
   ul>div {
      @include SS.inline;

      align-items: center;
      border: 0;
      box-shadow: none;
      justify-content: space-between;

      &:hover>div>.button {
         display: block;
      }

      div {
         display: flex;
      }

      div>.button {
         display: none;
         background-color: SS.$light-gray;
         height: 30px;
      }
   }
}

.button {
   border: 0;
   box-shadow: none;
}

.word {
   cursor: pointer;

   &:hover {
      text-decoration: dotted;
   }
}

.snackbar {
   @include SS.flex;

   background-color: SS.$black;
   border-radius: SS.$border-radius_inline;
   bottom: 15px;
   color: SS.$white;
   left: 15px;
   padding: SS.$padding_block;
   position: fixed;
   min-width: 250px;

   animation: in 700ms ease, out 700ms ease 5s;

   @keyframes in {
      from {
         transform: translateY(120%);
      }
   }

   @keyframes out {
      to {
         transform: translateY(150%);
      }
   }
}


/*
$cadet-blue-crayola: #9eabae;
$dark-cornflower-blue: #00438f;
$magenta-process: #ff1b8d;
$school-bus-yellow: #ffd900;
*/