/* Sasscript */
@import 'https://fonts.googleapis.com/css2?family=Montserrat&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Oxygen&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Poppins&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto&display=swap';
* {
  box-sizing: border-box;
  font-family: "Montserrat";
  scroll-behavior: smooth;
  transition: all 0.1s linear;
}

:root {
  color-scheme: light dark;
  cursor: default;
}

html {
  min-height: 100vh;
  min-width: 100vw;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0.6rem 0.9rem;
  padding-bottom: 1.7rem;
}
body:after {
  bottom: 1px;
  content: "Sasscript 1.2.0";
  font-size: 0.4rem;
  right: 1px;
  position: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 5px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 0.9rem;
}

h5 {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.7rem;
}

hr {
  border: 2.5px solid currentColor;
  border-radius: 6px;
  box-shadow: 1.3px 1.3px 0 currentColor;
  padding: 0.3rem 0.5rem;
  height: 15px;
}

article {
  border: 2.5px solid currentColor;
  border-radius: 6px;
  box-shadow: 1.3px 1.3px 0 currentColor;
  border-radius: 6px;
  margin: 0.6rem 0.9rem;
  padding: 8px 12.5px;
}

aside {
  float: right;
  margin: 0.6rem 0.9rem;
  width: fit-content;
}

footer {
  margin: 0.6rem 0.9rem;
  margin-left: 0;
  margin-right: 0;
}

header {
  margin: 0.6rem 0.9rem;
  margin-right: 0;
  margin-left: 0;
}

main {
  margin: 0.6rem 0.9rem;
}

mark {
  background-color: #ffff00;
  border-radius: 6px;
  padding: 0.3rem 0.5rem;
}

nav {
  margin: 0.6rem 0.9rem;
}

summary {
  cursor: pointer;
}

ol,
ul {
  margin: 0;
}

ol, ul {
  padding-left: 25px;
}

ul li {
  list-style-type: disc;
}

:any-link {
  color: #0080ff;
}
:any-link:hover {
  color: #0000ff;
}

abbr[title] {
  text-decoration: underline dotted #008000 3px;
}

address {
  border: 2.5px solid currentColor;
  border-radius: 6px;
  box-shadow: 1.3px 1.3px 0 currentColor;
  border-radius: 6px;
  margin: 0.6rem 0.9rem;
  padding: 8px 12.5px;
}

blockquote {
  border: 2.5px solid currentColor;
  border-radius: 6px;
  box-shadow: 1.3px 1.3px 0 currentColor;
  border-radius: 6px;
  margin: 0.6rem 0.9rem;
  padding: 8px 12.5px;
}

button, [button],
[buttons] > * {
  border: 2.5px solid currentColor;
  border-radius: 6px;
  box-shadow: 1.3px 1.3px 0 currentColor;
  padding: 0.3rem 0.5rem;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
}
button:disabled, [button]:disabled,
[buttons] > :disabled {
  border-color: #f0f0f0;
  color: #f0f0f0;
  cursor: not-allowed;
}
button:hover, [button]:hover,
[buttons] > :hover {
  background-color: #afafaf;
}
button[type=reset], [type=reset][button],
[buttons] > [type=reset] {
  border-color: #ff0000;
  color: #ff0000;
}
button[type=submit], [type=submit][button],
[buttons] > [type=submit] {
  border-color: #008000;
  color: #008000;
}

code {
  background-color: #f0f0f0;
  border-radius: 6px;
  padding: 0.3rem 0.5rem;
}

del {
  background-color: #ff0000;
  border-radius: 6px;
  color: #ffffff;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
}

dialog {
  border: 2.5px solid currentColor;
  border-radius: 6px;
  box-shadow: 1.3px 1.3px 0 currentColor;
  border-radius: 6px;
  margin: 0.6rem 0.9rem;
  padding: 8px 12.5px;
  background-color: #ffffff;
}

fieldset {
  border: 2.5px solid currentColor;
  border-radius: 6px;
  box-shadow: 1.3px 1.3px 0 currentColor;
  border-radius: 6px;
  margin: 0.6rem 0.9rem;
  padding: 8px 12.5px;
}

form {
  border: 2.5px solid currentColor;
  border-radius: 6px;
  box-shadow: 1.3px 1.3px 0 currentColor;
  border-radius: 6px;
  margin: 0.6rem 0.9rem;
  padding: 8px 12.5px;
  text-align: center;
}

iframe {
  border: 2.5px solid currentColor;
  border-radius: 6px;
  box-shadow: 1.3px 1.3px 0 currentColor;
  border-radius: 6px;
  margin: 0.6rem 0.9rem;
  padding: 8px 12.5px;
}

input {
  border: 2.5px solid currentColor;
  border-radius: 6px;
  box-shadow: 1.3px 1.3px 0 currentColor;
  padding: 0.3rem 0.5rem;
  background-color: transparent;
  font-size: 1rem;
  outline: 0;
}
input[type=button] {
  cursor: pointer;
}
input[type=checkbox] {
  accent-color: #0080ff;
  box-shadow: none;
  cursor: pointer;
  height: 17px;
  width: 17px;
}
input[type=color] {
  cursor: pointer;
  padding-bottom: 3px;
}
input[type=file] {
  padding-bottom: 2px;
}
input[type=radio] {
  accent-color: #0080ff;
  box-shadow: none;
  cursor: pointer;
  height: 17px;
  width: 17px;
}
input[type=range] {
  box-shadow: none;
  cursor: pointer;
}
input[type=reset] {
  cursor: pointer;
}
input[type=reset]:hover {
  background-color: #afafaf;
}
input[type=submit] {
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #afafaf;
}

kbd {
  border: 2.5px solid currentColor;
  border-radius: 6px;
  box-shadow: 1.3px 1.3px 0 currentColor;
  padding: 0.3rem 0.5rem;
}

meter {
  height: 20px;
  width: 200px;
}

progress {
  border: 2.5px solid currentColor;
  border-radius: 6px;
  box-shadow: 1.3px 1.3px 0 currentColor;
  height: 20px;
  width: 200px;
}

select {
  border: 2.5px solid currentColor;
  border-radius: 6px;
  box-shadow: 1.3px 1.3px 0 currentColor;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}

select:focus-visible {
  outline: 0;
}

table {
  border: 2.5px solid currentColor;
  border-radius: 6px;
  box-shadow: 1.3px 1.3px 0 currentColor;
  border-radius: 6px;
  margin: 0.6rem 0.9rem;
  padding: 8px 12.5px;
  border-collapse: collapse;
}

td {
  border: 2.5px solid currentColor;
  padding: 0.3rem 0.5rem;
}

textarea {
  border: 2.5px solid currentColor;
  border-radius: 6px;
  box-shadow: 1.3px 1.3px 0 currentColor;
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
}

textarea:focus-visible {
  outline: 0;
}

th {
  border: 2.5px solid currentColor;
  padding: 0.3rem 0.5rem;
  text-align: center;
}

time {
  font-family: "Roboto";
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

::-webkit-file-upload-button {
  border: 2.5px solid currentColor;
  border-radius: 6px;
  box-shadow: 1.3px 1.3px 0 currentColor;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 2px;
}

::-webkit-file-upload-button:hover {
  background-color: #afafaf;
}

::-webkit-progress-bar {
  background-color: #ffffff;
  border-radius: 3px;
}

::-webkit-progress-value {
  background-color: #008000;
  border-radius: 3px;
}

code pre {
  background-color: inherit;
  color: inherit;
  display: inline;
  margin: 0;
}

form fieldset:only-child {
  border: 0;
  box-shadow: none;
  margin: 0;
  padding: 0;
}
form li {
  list-style-type: none;
}

header:first-child {
  margin-top: 0;
}

p:first-child {
  margin-top: 0;
}

details[block] {
  border: 2.5px solid currentColor;
  border-radius: 6px;
  box-shadow: 1.3px 1.3px 0 currentColor;
  padding: 0.3rem 0.5rem;
}
details[block]:not([open]) {
  width: fit-content;
}

table[crossed] td,
table[crossed] th,
table[crossed] tr {
  border: 0;
}
table[crossed] td:first-child,
table[crossed] th:first-child {
  border-right: 2.5px solid currentColor;
}
table[crossed] tr:first-child {
  border-bottom: 2.5px solid currentColor;
}

[button],
[buttons] > * {
  margin: 10px 0 0 10px;
  text-decoration: none;
}
[button]:hover,
[buttons] > *:hover {
  background-color: transparent;
}

svg {
  fill: transparent;
  font-size: 50px;
  stroke-width: 2px;
}

:root {
  color: #000000;
  color-scheme: light;
  overflow-x: hidden;
}

dialog {
  min-height: 100vh;
  min-width: 100vw;
  border: 0;
  margin: 0;
}
dialog > header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0;
  justify-content: space-between;
}
dialog > header > .button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
}
dialog > header > .button > img {
  aspect-ratio: 1/1;
  height: 40px;
}

#app > header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
}
@media (max-width: 426px) {
  #app > header {
    flex-direction: column;
  }
}
#app > header > div {
  display: flex;
  flex-wrap: wrap;
}
#app > header > div > * > .button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
}
#app > header > div > * > .button > img {
  aspect-ratio: 1/1;
  height: 50px;
}
#app > header > h1 {
  font-size: 2.5rem;
}
#app > nav {
  border: 2.5px solid currentColor;
  border-radius: 6px;
  box-shadow: 1.3px 1.3px 0 currentColor;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
}
@media (max-width: 426px) {
  #app > nav {
    margin: 0;
    width: 100%;
  }
}
#app > nav > div {
  display: flex;
  flex-wrap: wrap;
}
#app > nav > div > .button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
}
#app > nav > div > .button > img {
  aspect-ratio: 1/1;
  height: 35px;
}
#app > nav > input {
  border: 0;
  box-shadow: none;
  width: 75%;
}
#words ul > div,
#archieve ul > div {
  border: 2.5px solid currentColor;
  border-radius: 6px;
  box-shadow: 1.3px 1.3px 0 currentColor;
  padding: 0.3rem 0.5rem;
  align-items: center;
  border: 0;
  box-shadow: none;
  justify-content: space-between;
}
#words ul > div:hover > div > .button,
#archieve ul > div:hover > div > .button {
  display: block;
}
#words ul > div div,
#archieve ul > div div {
  display: flex;
}
#words ul > div div > .button,
#archieve ul > div div > .button {
  display: none;
  height: 30px;
}

.button {
  border: 0;
  box-shadow: none;
}

.word {
  cursor: pointer;
}
.word:hover {
  text-decoration: dotted;
}

.snackbar {
  display: flex;
  flex-wrap: wrap;
  background-color: #000000;
  border-radius: 6px;
  bottom: 15px;
  color: #ffffff;
  left: 15px;
  padding: 8px 12.5px;
  position: fixed;
  min-width: 250px;
  animation: in 700ms ease, out 700ms ease 5s;
}
@keyframes in {
  from {
    transform: translateY(120%);
  }
}
@keyframes out {
  to {
    transform: translateY(150%);
  }
}

/*
$cadet-blue-crayola: #9eabae;
$dark-cornflower-blue: #00438f;
$magenta-process: #ff1b8d;
$school-bus-yellow: #ffd900;
*/

/*# sourceMappingURL=index.css.map */
