@use '../../SasScript/src/ss';

@mixin flowColumn {
   @include ss.flex($justify-content: space-between, $align-items: center);

   @include ss.mobile {
      flex-direction: column;

      @content;
   }
}

@import './reactyio';

@import './assets/styles';


/*#report {
   margin-top: 10px;

   form {
      @include ss.reset;
      @include ss.flex(column, $justify-content: center);

      @include ss.mobile {
         flex-direction: column;
      }

      input:first-child {
         color: $accent-color;
         outline: none;
      }

      textarea {
         min-height: 150px;
         resize: vertical;
      }

      > *:not(:last-child) {
         margin-bottom: 15px;
      }
   }

   > img {
      @include ss.padding('inline');
   }

   #reported > img {
      @include ss.padding('inline');
   }
}

.imgbutton {
   @include ss.reset;

   height: 50px;

   img {
      @include ss.imgbutton(50px, 0);
      @include ss.reset('border');
   }
}

.word {
   color: $accent-color;
   cursor: pointer;
   display: block;
   user-select: none;
   max-width: 200px;
}*/

