@use './ss.scss';

$accent-color: hsl(300, 100%, 50%);
$bg-color: hsl(190, 100%, 50%);
$theme-color: hsl(215, 100%, 50%);

:root {
   background-color: $bg-color;
   color-scheme: light;

   @include ss.mobile {
      background-color: ss.$white;
   }
}

body {
   @include ss.flex($justify-content: center);
}

#root {
   @include ss.block;
   @include ss.reset('border');

   background-color: ss.$white;
   height: fit-content;
   padding: 0 5px 0 13px;
   width: clamp(500px, 80vw, 850px);

   @include ss.mobile {
      @include ss.reset;
   }
}

#report {
   form {
      @include ss.reset;
      @include ss.flex(column, $justify-content: center);

      @include ss.mobile {
         flex-direction: column;
      }

      input:first-child {
         color: $accent-color;
         outline: none;
      }

      textarea {
         height: 100px;
      }

      > *:not(:last-child) {
         margin-bottom: 15px;
      }
   }

   > img {
      @include ss.padding('inline');
   }

   #reported > img {
      @include ss.padding('inline');
   }
}

img {
   @include ss.imgbutton(50px, 0);
   @include ss.reset('border');

   border: 0 !important;
}

.word {
   color: $accent-color;
   cursor: pointer;
   user-select: none;
}

@import './layouts/header/style.scss';
@import './layouts/navbar/style.scss';
@import './layouts/result/style.scss';

@import './_library.scss';
