#up {
   @include ss.reset;
   @include ss.model(50px);
   @include ss.flex($justify-content: center, $align-items: center);
   @include ss.position(fixed, $right: 15px, $bottom: 15px);

   background-color: $accent-color;
   border-radius: 50%;
   z-index: 2;

   :hover {
      background-color: transparent;
   }

   > img {
      @include ss.model(40px);
   }
}
