#Words, #Archieve {
   ul>div {
      @include index.element('inline');

      align-items: center;
      border: 0;
      box-shadow: none;
      justify-content: space-between;

      &:hover>div>.button {
         display: block;
      }

      div {
         display: flex;
      }

      div>.button {
         display: none;
         background-color: index.$light-gray;
         height: 30px;
      }
   }
}